$aco-grid-xxlarge: 768px;
$aco-grid-xlarge: 640px;
$aco-grid-large: 512px;
$aco-grid-medium: 384px;
$aco-grid-small: 256px;
$aco-grid-xsmall: 192px;
$aco-grid-xxsmall: 128px;


/* 
    spacing / fixed sizes / padding / margins

    2  --> used on small pills
    4  --> input title padding, dropdown text insert
    8  --> icon to text spacing
    12 --> icon to straight edge
    16 --> icon to rounded edge
    20 --> text to rounded edge
    24 --> widget padding and spacing
    28
    32
    40 --> inputs and button heights
    48
    56
    64
    96
*/